

.dx-tagbox{

    .dx-tag-content{
        background-color: #afe6fd;
        color: lighten($color-primary,10%);
        border-radius: 6px;
        padding-right: 6px;
        .dx-tag-remove-button{
            display: none;
        }

    }
}

